name: CI

on:  
  push:
  pull_request:
    branches:
      - main 
jobs:
  ubuntu-job:
    name: 'Percy Test in CI for PR'
    runs-on: ubuntu-latest  # Can be self-hosted runner also
    steps:
      - name: 'Checkout the repository'
        uses: actions/checkout@v2
        with:
          ref: main
      
      - name: resolving dependencies
        run: yarn 
      - name: Execute tests
        run: yarn percy exec -- cypress run 
