name: CI

on:  
  push:
  pull_request:
    branches:
      - main 
jobs:
  ubuntu-job:
    name: 'Percy Test in CI for PR'
    runs-on: ubuntu-latest  # Can be self-hosted runner also
    steps:
      - name: 'Checkout the repository'
        uses: actions/checkout@v2
        with:
          ref: main
      
      - name: install Percy cli and cypress
        run: yarn add @percy/cli
      - name: install Percy cli and cypress
        run: yarn add @percy/cypress
      - name: Execute tests
        run: yarn percy exec -- cypress run --spec ".\cypress\e2e\specs\smoke-specs\cookie-consent\careers.cy.js"
